html, body, article, session, div, h1, h2, h3, h4, ul, li { margin:0; padding:0; font-size:100%;  }
body { font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; color:#333; background:#E2EEF4; }
a { color:#8ac; text-decoration:none; }
a:hover { text-decoration:underline; }

header { display:block; padding:2em 1em .6em 0;  }
header h1 { width:850px; margin:0 auto; font-size:1.6em; color:#94C5DD; text-shadow:0 2px 6px #fff; }
header h1 b { color:#339BCC; }
header h1 span { font-size:.6em; margin-left:2em; color:#87D0F2; }

article { display:block; width:850px; margin:1em auto; padding:2em; background:#fff; 
	border-radius:.6em }